*
{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-image: url(https://img.freepik.com/free-vector/blue-light-sparkles-background-with-copyspace_1017-20091.jpg?size=626&ext=jpg);
    background-size: cover;
    background-position: center;

    font-family: sans-serif;
}
.menu-bar {
    background-color: rgb(0, 119, 255);
    text-align: right; 
}

.menu-bar ul
{
    display:inline-flex;
    list-style: none;
    color: white;

}

.menu-bar ul li
{
width: 150px;
margin: 13px;
padding: 15px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: white;

}
.active, .menu-bar ul li:hover
{
    background: rgb(42, 165, 83);
    border-radius: 3px;
}
.menu-bar
{
    margin-right: 8px;
}
.logo img{
    float: left;
    width:79px;
    height:70;
    padding: 5px;
}
para{
    margin: 0;
    padding: 0;
    text-align: center;
}
.title{
    margin-top: 46px;
    color: #fff;
}
.title h1
{
    font size: 32px ;
    line-height: 10px;
}

.title h2{
    font-size: 16px;
}
p{
    font-size: 25px;
    color: white;
}
form
{
    margin-top: 30px; 
    box-shadow: 0px 0px grey;   
}
.form-control
{
    width: 300px;
    background:transparent;
    border:none;
    outline: none;
    border-bottom: 1px solid grey;
    color: white;
    margin-bottom: 14px;
}
input{
    height: 45px;
    margin-right: 5px;
}
form .submit{
    background-color:rgb(128, 0, 70);
    border-color: transparent;
    color: white;
    font-size: 20;px;
    height:48px;
    margin-top: 20px;
    transition: 0.4s ease;
}
form .submit:hover{
    background-color: rgb(255, 47, 82);
    cursor:pointer;
}
.formsec{
text-align: right;
margin-right: 50px; 
color: white;
font-family: sans-serif;
font-size: 15px;
}
